h1 {
	text-align: center;
}

form {
	width: 300px;
	text-align: center;
	margin: 0 auto;
}

#input-text {
	font-size: 20px;
	margin-top: 10px;
	border: 1px solid black; 
}

.btn {
	font-size: 15px;
	margin: 20px 10px 60px 10px;
	padding: 5px;
	background-color: darkcyan;
	color: white;
	border: 1px solid black;
}

#result {
	border: 3px solid darkcyan;
	width: 300px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	font-size :20px;
}

#yolo {
	border: 1px solid green;
	width: 900px;
	height: 800px;
}
